.Container{
    padding: 10%;
    text-align: center;
    margin-top: 5%;
}

.Result{
    font-size: larger;

}

.WinT{
    margin-left: 3%;
    color: blue;
    font-weight: bold;
}
.WinF{
    margin-left: 3%;
    color:red;
    font-weight: bold;
}

.Btn{
    width: 30%;
    font-size:large ;
    margin-top: 3%;
}

.Content{
    margin-top: 2%;
    font-size: 1.2em;
    font-weight: bold;
    color:green;
}